@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: #e5e7eb;
  }
  .dark * {
    border-color: #374151;
  }
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .container {
    @apply mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8;
  }
}
